# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/src/main/java/miku/united_as_one/genesis/md

# Files from Forge MDK
forge*changelog.txt
/src/generated/resources/.cache/
/.profileconfig.json
/src/generated/.profileconfig.json

/.vscode/launch.json
